@*@model BikeWorld.ViewModels.RandomBikeViewModel*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BikeWorld</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        .watermark {
            position: fixed !important;
            bottom: 20px !important;
            right: 80px !important;
            opacity: 0.5 !important;
            z-index: 99 !important;
            color: #5c2040 !important;
        }
    </style>
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BikeWorld.com  </p> 
            <p class="watermark">&copy; Abhishek</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/lib")*@
    @RenderSection("scripts", required: false)
</body>
</html>