@model BikeWorld.ViewModels.NewBikeViewModel

@{
    ViewBag.Title = "New Bike";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bike</h2>

@using (Html.BeginForm("Save", "Bike"))
{

    @Html.ValidationSummary(true, "Please do the following changes.")
    <div class="form-group">
        @*<p>hi</p>*@
        @Html.LabelFor(m => m.Bike.Name)
        @Html.TextBoxFor(m => m.Bike.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Bike.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bike.NumberInStock)
        @Html.TextBoxFor(m => m.Bike.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Bike.NumberInStock)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Bike.NoAvailable)
        @Html.TextBoxFor(m => m.Bike.NoAvailable, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Bike.NoAvailable)
    </div>

        @Html.HiddenFor(m => m.Bike.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}